* {
  border: 0px;
  height: auto;
}

:root {
  --cor-da-letra: #777;
}

.img {
  display: flex;
  justify-content: center;

  width: 100%;
}

.Container {
  padding: 0 26% 0 26%;
  color: var(--cor-da-letra);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

h2 {
  display: flex;
  justify-content: center;
}

.footer {
  color: #777;
  position: fixed;
  bottom: 0;
  width: 100%;
}
